html {
  background-color: lightgray;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input {
  padding: 1% 20%;
}

.input input {
  height: 30px;
  font-size: 1.5rem;
}

.input button {
  height: 35px;
  margin: 1%;
  font-size: 1.5rem;
}

.input button:hover {
  cursor: pointer;
}

table {
  width: 100%;
  padding: 0 25%;
}

thead {
  text-align: center;
  font-size: 1.2rem;
}

tbody {
  text-align: left;
}

.inner-table {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

.cell-img {
  display: inline-block;
  height: 150px;
  width: 150px;
}

.cell-data {
  float: right;
  width: 55%;
}

th {
  background-color: darkgray;
  border: 1px solid black;
  border-radius: 5px;
  table-layout: auto;
  height: 60px;
}



@media only screen and (max-width: 560px) {
  table {
    padding: 0 .5%;
  }
}

@media only screen and (max-width: 952px) {
  table {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 1200px) {
  table {
    padding: 0 10%;
  }
}


