html {
  background-color: #fff;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table {
  padding: 0 0;
}

 .input {
  padding: 1% 10%;
}

.moves-scroll {
  max-height: 200px;
  overflow-y: auto;
}

@media only screen and (min-width: 621px) {
  .input {
    padding: 1% 25%;
  }
}

@media only screen and (min-width: 1241px) {
  .input {
    padding: 1% 30%;
  }

  .table {
    padding: 0 5%;
  }
} 

@media only screen and (min-width: 1500px) {
  .input {
    padding: 1% 35%;
  }

  .table {
    padding: 0 15%;
  }

} 


